<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
<!-- ============= Have o be DEBUG to control the Level in each appender ============= -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
     </root>
 </configuration>
